#!/bin/bash

##################################################
## Project: NOTATES
## Script purpose: Configuration file for the NOT
## Whole Exome Sequencing pipeline
## Date: Oct 27, 2019
## Author: Ege Ulgen
##################################################


#### Resources and Scripts directories located in the NOTATES directory
export resources_dir="$main_dir"/Resources
export scripts_dir="$main_dir"/Scripts
export data_sources_dir="$resources_dir"/Data_sources
export tools_dir="$resources_dir"/Tools
export exome_bed_dir="$data_sources_dir"/Exome_Intervals

#### Genome fasta
export genome="$resources_dir"/Genomes/ucsc_hg19/ucsc.hg19.fasta

# awk -F'\t' 'BEGIN{SUM=0}{ SUM+=$3-$2 }END{print SUM}' file.bed 
if [ "$2" == "xGen" ]; then
	#### Exome capture target intervals
	export Bait_Intervals="$exome_bed_dir"/xGen/xgen-exome-research-panel-probes.bed
	export Target_Intervals="$exome_bed_dir"/xGen/xgen-exome-research-panel-targets.bed

	#### Read Length for ExomeCNV
	export read_length=101

	#### Total length of the bait intervals (in Mb) for mutational load calculation
	export exome_length=51.313171
elif [ "$2" == "MedExome" ]; then
	#### Exome capture target intervals
	export Bait_Intervals="$exome_bed_dir"/MedExome/MedExome_hg19_capture_targets.bed
	export Target_Intervals="$exome_bed_dir"/MedExome/MedExome_hg19_empirical_targets.bed

	#### Read Length for ExomeCNV
	export read_length=76

	#### Total length of the bait intervals (in Mb) for mutational load calculation
	export exome_length=46.584178 
elif [ "$2" == "SeqCap" ]; then
	#### Exome capture target intervals
	export Bait_Intervals="$exome_bed_dir"/SeqCap_EZ_v2/SeqCap_EZ_Exome_v2_capture_coord.bed
	export Target_Intervals="$exome_bed_dir"/SeqCap_EZ_v2/SeqCap_EZ_Exome_v2_capture_coord.bed

	#### Read Length for ExomeCNV
	export read_length=76

	#### Total length of the bait intervals (in Mb) for mutational load calculation
	export exome_length=43.992570
else
	printf "Make sure you correctly typed the capture kit's name\n"
	exit 100
fi

#### Data sources for known variation
export dbSNP="$data_sources_dir"/dbSNP151.vcf.gz
export Mills_1kG="$data_sources_dir"/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz
export ThousandG="$data_sources_dir"/1000G_phase1.indels.hg19.sites.vcf.gz
export COSMIC="$data_sources_dir"/COSMICv90_hg19.vcf.gz
export oncotator_ds="$data_sources_dir"/oncotator_v1_ds_April052016
export gnomad_vcf="$data_sources_dir"/gnomad_hg19.vcf.gz
export small_exac_common="$data_sources_dir"/exac_common.vcf

export simple_repeats="$data_sources_dir"/hg19_simpleRepeat.txt

#### Tools
## Make sure binaries for BWA, samtools are located in your bin directory
export PICARD="$tools_dir"/picard.jar
export GATK="$tools_dir""/gatk-4.1.4.0/gatk --java-options -Xmx30g"
export GATK3="$resources_dir""/Tools/GenomeAnalysisTK.jar"
export oncotator_activate="$tools_dir"/oncotator/bin/activate
export THetA="$tools_dir"/THetA

#### Java with options
export JAVA="java -Xms16g -Xmx28g -jar"

if [ "$1" == "verbose" ]; then
	echo $(date)
	echo "NOTATES is located at: " '"'"$main_dir"'"'
	echo "Resources are located at: " '"'"$resources_dir"'"'
	echo "Scripts are located at: " '"'"$scripts_dir"'"'
	echo ""

	echo "Read length is: " '"'"$read_length"'"'
	echo "Exome total length is: " '"'"$exome_length"'"'
	echo ""

	echo "Genome fasta: " '"'"$genome"'"'
	echo "Exome capture bait interval list: " '"'"$Bait_Intervals"'"'
	echo "Exome capture target interval list: " '"'"$Target_Intervals"'"'
	echo ""

	echo "dbSNP VCF file: " '"'"$dbSNP"'"'
	echo "Mills and 1000 Genomes gold standard indel sites VCF: " '"'"$Mills_1kG"'"'
	echo "1000 Genomes indel sites VCF: " '"'"$ThousandG"'"'
	echo "COSMIC VCF: " '"'"$COSMIC"'"'
	echo ""
	
	echo "Gnomad AF-only VCF: " '"'"$gnomad_vcf"'"'
	echo "Small ExAc common VCF: " '"'"$small_exac_common"'"'
	echo "Oncotator data sources: " '"'"$oncotator_ds"'"'
	echo ""

	echo "PICARD: " '"'"$PICARD"'"'
	echo "GATK: " '"'"$GATK"'"'
	echo "Oncotator virtual environment activation: " '"'"$oncotator_activate"'"'
	echo "THetA directory: " '"'"$THetA"'"'
	echo ""

	echo "Java jar options: " '"'"$JAVA"'"'
fi